<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>テストサーバー</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #333;
        }

        .link-box {
            padding: 15px;
            background-color: #f0f0f0;
            display: inline-block;
            border-radius: 8px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>ようこそ！テストサイトへ</h1>
    <p>このサイトは、テスト用です</p>

    <a href="/search" class="link-box"
        style="margin-left: 10px; background-color: #007bff; color: #f0f0f0;">論文検索ツールを利用する</a>
    <a href="/currency" class="link-box" style="margin-left: 10px; background-color: #e3f2fd;">
        為替レート変換ツールを利用する
    </a>
    <a href="/periodic-table" class="link-box" style="margin-left: 10px; background-color: #fff5ba; color: #d4a017;">
        化学の元素周期表を見る
    </a>
    <a href="/glasses-tryon" class="link-box" style="margin-left: 10px; background-color: #e6e6fa; color: #483d8b;">
        眼鏡探しはAIで！
    </a>
</body>

</html>